<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/loginpage.css}">
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<form th:action="@{/perform_login}" method="POST">
		<div class=fields>
			<h1>Bem-Vindo</h1>
			<div class=login>
				<label for="login">Login:</label>
			    <input type="text" name="username" placeholder="Login" required="required">
			</div>
			
			<div class=password>
				<label for="password">Password:</label>
			    <input type="password" name="password" placeholder="Password" required="required">
			</div>
			<p class=error th:if="${param.error}">Login ou senha invalidos</p>
		    <button type="submit">Entrar</button>
			<a th:href="@{/sign-in/register}">Registre-se</a>
		</div>
	</form>
	
</body>
</html>