body {
	background: #b1b1b3;
	background: linear-gradient(90deg,rgba(177, 177, 179, 1) 0%, rgba(150, 171, 162, 1) 40%, rgba(112, 111, 104, 1) 90%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.fieldsContainer {
	background: #dadcdc;
	width: 300px;
	height: 400px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.loginContainer {
	margin-bottom: 5px;
	width: 50%;
	margin-right: 15px;
}

.passwordContainer {
	width: 50%;
	margin-right: 15px;
}

.loginContainer label {
	font: bold;
	font-style: inherit;
	display: block;
	margin-bottom: 4px;
}

.passwordContainer label {
	font: bold;
	font-style: inherit;
	display: block;
	margin-bottom: 4px;
}

.fieldsContainer h1{
	margin-top: -10px;
}

.fieldsContainer button{
	margin-top: 20px;
	
}

.fieldsContainer a{
	margin-top: 20px;
}

.errorLogin {
	
	max-height: 15px;
	font-size: 12px;
	color: red;
	margin-top: 4px;

}

.errorPassword {
	max-height: 5px;
	font-size: 12px;
	color: red;
	margin-top: 4px; 
}






